name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pycodestyle pyright
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with PyCodeStyle
        run: |
          find . -name \*.py -exec pycodestyle {} +
      - name: PyRight
        run: |
          pyright
